@model List<ResultBookingDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
    int sayac = 0;
}

<div class="col-lg-12">
    <div class="card">
        <div class="card-body">
            <div class="card-title">
                <h4>Rezervasyonlar</h4>
            </div>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Misafir</th>
                            <th>Giriş Tarihi</th>
                            <th>Çıkış tarihi</th>
                            <th>Durum</th>
                            <th>Onayla</th>
                            <th>İptal Et</th>
                            <th>Beklet</th>
                            <th>Güncelle</th>
                            <th>Detaylar</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            sayac++;
                            <tr>
                                <th>@sayac</th>
                                <td>@item.Name</td>
                                <td>@(((DateTime)item.CheckIn).ToString("dd-MMM-yyyy"))</td>
                                <td>@(((DateTime)item.CheckOut).ToString("dd-MMM-yyyy"))</td>
                                <td>
                                    <span class="badge badge-primary px-2">@item.Status</span>
                                </td>
                                <td><a href="/BookingAdmin/ApprovedReservations/@item.BookingID" class="btn mb-1 btn-rounded btn-primary">Onayla</a></td>
                                <td><a href="#" class="btn mb-1 btn-rounded btn-danger">İptal Et</a></td>
                                <td><a href="#" class="btn mb-1 btn-rounded btn-warning">Beklet</a></td>
                                <td><a href="#" class="btn mb-1 btn-rounded btn-info">Güncelle</a></td>
                                <td><a href="#" class="btn mb-1 btn-rounded btn-dark">Detaylar</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

